html, body {
    height: 100%; /* Разрешить высоту для всей страницы */
    margin: 0; /* Убираем отступы */
    overflow-y: auto; /* Гарантируем вертикальную прокрутку */
}

main.container {
    min-height: 100vh; /* Минимальная высота для основной области */
    padding: 2rem; /* Добавляем отступы */
}
