<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base title {% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
        /* Устанавливаем Flexbox для всей страницы */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        
        main {
            flex: 1;
        }
    </style>
</head>
<body>

<!-- Основной контейнер для всех элементов страницы -->
<main class="container">
    
    <!-- Навигационная панель -->
    <nav>
        {% include "components/navbar.html" %}
    </nav>
    
    <!-- Основное содержимое -->
    <section>
        {% block body %}
            
            {% include 'wallet_analyzer/components/wallet_connection.html' %}
        {% endblock %}
    </section>
    
</main>

<!-- Подвал -->
{% include 'components/footer.html' %}

{% include 'wallet_analyzer/components/f5_connection_check.html' %}

{% include "wallet_analyzer/components/check_wallet_connection.html" %}
</body>
</html>
