<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base title {% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>

<!-- Основной контейнер для всех элементов страницы -->
<main class="container">
    
    <!-- Навигационная панель -->
    <nav>
        {% include "components/navbar.html" %}
    </nav>
    
    <!-- Основное содержимое -->
    <section>
        {% block body %}
            {% include 'wallet_analyzer/components/wallet_connection.html' %}
        {% endblock %}
    </section>
    
</main>

<!-- Подвал -->
<footer class="container">
    <p>&copy; Web3-Aggregator</p>
    {% block footer %}
    {% endblock %}
</footer>
{% include 'wallet_analyzer/components/f5_connection_check.html' %}

{% include "wallet_analyzer/components/check_wallet_connection.html" %}
</body>
</html>
