<!-- components/check_wallet_connection.html -->
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script>
    // Функция для проверки, подключен ли MetaMask
    async function checkMetaMaskConnected() {
        if (typeof window.ethereum !== 'undefined') {
            const accounts = await window.ethereum.request({ method: 'eth_accounts' });
            return accounts.length > 0;
        }
        return false;
    }

    // Выполняем проверку при загрузке страницы
    document.addEventListener("DOMContentLoaded", async function() {
        const isConnected = await checkMetaMaskConnected();
        const currentPath = window.location.pathname;

        // Добавляем нужные пути, где требуется проверка MetaMask
        const restrictedPaths = ['/wallets/balance/', '/wallets/more_info/'];

        if (!isConnected && restrictedPaths.includes(currentPath)) {
            alert("MetaMask не подключен. Пожалуйста, подключите MetaMask для доступа к функционалу сайта.");

            // Отправляем запрос на сервер для очистки сессии
            await fetch('/wallets/disconnect/', {
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }
            });

            // Перенаправляем на главную страницу после очистки сессии
            window.location.href = '/';
        }
    });
</script>
