<!-- network_info.html -->
<div style="display: flex; justify-content: space-between; align-items: center; padding: 0.5rem; border-radius: 5px;">
    <p style="margin: 0; padding: 0 1rem;">Gas price: {{ gas_price }} Gwei</p>
    <p style="margin: 0; padding: 0 1rem;">Last block: {{ latest_block.number }}</p>
    <p style="margin: 0; padding: 0 1rem;">Total Market Cap: {{ total_market_cap }}</p>
    <p style="margin: 0; padding: 0 1rem;">Fear Greed Index: {{ fear_greed_index }}</p>
    <p style="margin: 0; padding: 0 1rem;">Bitcoin Dominance: {{ bitcoin_dominance }}</p>
</div>
    