{% load static %}
{% block body %}
    <form id="walletForm" method="post" action="{% url 'wallet_analyzer:wallet_connect' %}" style="margin: 0;">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Скрытое поле для адреса кошелька -->
        <input type="hidden" name="address" id="id_address">

        <button type="button" id="connectWalletButton" style="all: unset; cursor: pointer;">
            Metamask
        </button>
    </form>

    <!--wallet_connection-->
    
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="{% static 'wallet_analyzer/js/сheck_if_metamask_connected.js' %}"></script>
<script src="{% static 'wallet_analyzer/js/handle_metamask_redirect.js' %}"></script>    
<script src="{% static 'wallet_analyzer/js/metamask_connect.js' %}"></script>

{% endblock %}
