<!-- navbar.html -->
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        
        {% if request.session.wallet_connected %}
            <!-- Кнопка для просмотра баланса и отключения кошелька, если кошелек подключен -->
            <li><a href="{% url 'wallet_analyzer:wallet_balance' %}" id="walletBalanceLink">Wallet Balance</a></li>
            <form action="{% url 'wallet_analyzer:wallet_disconnect' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Disconnect Wallet</button>
            </form>
        {% else %}
            <!-- Кнопка для подключения кошелька, если он еще не подключен -->
            <li><a href="{% url 'wallet_analyzer:wallet_connection' %}">Connect Wallet</a></li>
        {% endif %}
        
        <li><a href="#">About</a></li>
    </ul>
</nav>
