<nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'wallet_analyzer:wallet_connection' %}">Connect Wallet</a></li>
         {% if request.session.wallet_address %}
            <li><a href="{% url 'wallet_analyzer:wallet_balance' %}">Wallet Balance</a></li>
            <li><a href="{% url 'wallet_analyzer:wallet_disconnect' %}">Disconnect Wallet</a></li>
        {% else %}
            <li><span>Wallet Balance (not available)</span></li>
        {% endif %}

        <li><a href="#">About</a></li>
    </ul>
</nav>